@page "/"

<PageTitle>Index</PageTitle>

<h1 style="text-align: center">IJ</h1>

<p style="text-align: center">O seu aplicativo de investigação particular</p>

<SurveyPrompt Title="Como o IJ está sendo para você?"/>