@page "/Investigacao"

<h3>Debriefing da investigacao</h3>
<p>Escreva um pouco mais dos detalhes que o agente de campana precisa saber para executar um bom trabalho.</p>
<div class="row">
    <div class="col-6">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</div>
<div class="row" style="margin-top: 7vh">
    <p>Escreva abaixo o endereco de onde será a primeira campana</p>
    <div class="col-6">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <NavLink href="marketplace" style="margin-left:auto; margin-right: auto; width: 100%; margin-top: 1vh" class="row btn btn-outline-primary" type="submit">Escolher Agente de Campana</NavLink>
    </div>
</div>

@code {
    
}