@page "/Marketplace"
<h3>Encontre um Agente de Campana</h3>

<div class="row">
    <div class="col-3" style="padding: 1%">
        <input type="text" class="form-control" placeholder="Cidade">
    </div>
    <div class="col-2" style="padding: 1%">
        <select class="form-select" aria-label="Default select example">
            <option selected>Estado</option>
            <option value="SP">SP</option>
            <option value="RJ">RJ</option>
            <option value="MG">MG</option>
            <option value="AM">AM</option>
            <option value="AC">AC</option>
            <option value="AP">AP</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="AL">AL</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
            <option value="MG">MG</option>
        </select>
    </div>
    
</div>
<div class="row">
    <div class="col-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31760116.34977888!2d-69.69589425495643!3d-13.659750618279384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9c59c7ebcc28cf%3A0x295a1506f2293e63!2sBrasil!5e0!3m2!1spt-BR!2sbr!4v1681009028024!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-4">
        <div class="card" style="height: 25rem; width: 18rem; background-color: #9370D8">
          <img src="" class="card-img-top" alt="..." style="height: 20vh">
          <div class="card-body">
              <h5 class="card-title">
                  Raphael Duarte
              </h5>
              <p class="card-text">
                  Endereco: Rua dos bobos, 0, Centro-SP
              </p>
            <a href="https://wa.me/5548988221299?text=Tenho+uma+Campana+para+voc%C3%AA%21" class="btn btn-primary">Chamar Agente!</a>
          </div>
        </div>
    </div>
</div>

@code {
    
}